<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RegisteredAssemblies" type="ZAddIn.XlConfig.RegisteredAssemblies, AldrinAddIn" />
  </configSections>
  <RegisteredAssemblies>
    <Assemblies>
      <Assembly name="Zeliade.Common" />
	    <Assembly name="Zeliade.Math" />
	    <Assembly name="Zeliade.Finance.Mrc" />
	    <Assembly name="Zeliade.Finance.Common" />
	    <Assembly name="AldrinAnalytics" />
	    <Assembly name="Zeliade.Finance.XL" />
      <Assembly name="ZQFXLLObjects" />
    </Assemblies>
    <SpecialLoadingMethods>
      <!--<Method assembly="AssemblyName" namespace="NamespaceName" class="ClassName" name="FuncName"/>-->
    </SpecialLoadingMethods>
  </RegisteredAssemblies>
</configuration>